.container {
  &--hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    @media (max-width: 50em) {
      height: 90vw;
    }
  }
  &--primary {
    max-width: var(--screen-lg);
    margin: 0 auto;
    padding: 0 1rem;
  }
}
