.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  margin-bottom: 5rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 50em) {
    grid-template-columns: 100%;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  &--alt {
    grid-template-columns: 2fr 1fr;
    @media (max-width: 50em) {
      grid-template-columns: 100%;
      & > div:first-child {
        grid-row: 2;
      }
    }
  }

  &__img {
    align-self: center;
    svg {
      display: block;
      width: 100%;
      height: auto;
      @media (max-width: 50em) {
        width: 15rem;
        margin: 0 auto;
      }
    }
  }
  &__text {
    align-self: center;
    font-weight: 600;
    @media (max-width: 50em) {
      max-width: 30rem;
      margin: 0 auto;
      margin-top: 2rem;
    }
    p {
      background-color: var(--color-white);
      border-left: 4px solid var(--color-black);
      padding: 1rem;
    }
  }
}
