.contact {
  &__map {
    display: block;
    width: 100%;
    height: 500px;
    margin-bottom: -5rem;
    border: 0;
    border-top: 4px solid var(--color-black);
  }
  &__card {
    background-color: var(--color-white);
    border-left: 4px solid var(--color-black);
    padding: 1rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 5rem;
    @media (max-width: 50em) {
      grid-template-columns: 1fr;
    }
  }
}
