:root {
  // colors
  --color-white: #fff;
  --color-black: #000;

  --color-gray-200: #ccc;
  --color-gray-300: #aaa;
  --color-gray-900: #2a2a2a;

  --color-yellow: #f1c40f;
  --color-red: #e74c3c;
  --color-blue: #3498db;
  --color-green: #2ecc71;
  --color-brown: #714d22;

  // borders
  --border-rounded: 0.5rem;
  --border-circle: 1000rem;

  //fonts
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 1.75rem;
  --font-size-2xl: 2.25rem;

  //screens
  --screen-md: 50em;
  --screen-lg: 64em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url(../assets/texture.png);
}

//components
@import "./components/btn.scss";
@import "./components/container.scss";
@import "./components/filter.scss";
@import "./components/footer.scss";
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/img.scss";
@import "./components/layout.scss";
@import "./components/section.scss";
@import "./components/trail.scss";
//utils
@import "./utils/flex.scss";
@import "./utils/type.scss";
@import "./utils/margins.scss";
@import "./utils/padding.scss";
//pages
@import "./pages/about.scss";
@import "./pages/contact.scss";
//overrides
@import "./overrides/leaflet.scss";
