$margin-unit: 0.25rem;

$top: 20;
$right: 0;
$bottom: 0;
$left: 0;

.p {
  &t {
    @each $multiplier in $top {
      &-#{$multiplier} {
        padding-top: calc(#{$multiplier} * #{$margin-unit});
      }
    }
  }
  &r {
    @each $multiplier in $right {
      &-#{$multiplier} {
        padding-right: calc(#{$multiplier} * #{$margin-unit});
      }
    }
  }
  &b {
    @each $multiplier in $bottom {
      &-#{$multiplier} {
        padding-bottom: calc(#{$multiplier} * #{$margin-unit});
      }
    }
  }
  &l {
    @each $multiplier in $left {
      &-#{$multiplier} {
        padding-left: calc(#{$multiplier} * #{$margin-unit});
      }
    }
  }
}
